In [1]:
import pylab as plt
import pandas as pd

In [3]:
## location of JPL Small Body database file
sbdb_fname = '/home/ellie/research/lsst/sbdb_nongrav_data.csv'

## location of CODE file
code_fname = '/home/ellie/research/lsst/nongrav_accelerations.csv'

df_sbdb = pd.read_csv(sbdb_fname)
df_code = pd.read_csv(code_fname)

print(df_code)

     Unnamed: 0 designation                                     url model  \
0             0   C/1885 X1  orbit.php?&int=1885x1n1&orb=osculating    n1
1             1   C/1885 X2  orbit.php?&int=1885x2n5&orb=osculating    n5
2             4   C/1892 Q1  orbit.php?&int=1892q1n1&orb=osculating    n1
3             5   C/1895 W1  orbit.php?&int=1895w1n1&orb=osculating    n1
4             6   C/1896 V1  orbit.php?&int=1896v1n2&orb=osculating    n2
..          ...         ...                                     ...   ...
123         303   C/2020 N1  orbit.php?&int=2020n1n5&orb=osculating    n5
124         304   C/2020 O2  orbit.php?&int=2020o2pc&orb=osculating    pc
125         305   C/2020 R7  orbit.php?&int=2020r7pn&orb=osculating    pn
126         306   C/2020 S4  orbit.php?&int=2020s4ps&orb=osculating    ps
127         309   C/2020 V2  orbit.php?&int=2020v2ec&orb=osculating    ec

          name class  observations  \
0        Fabry   42a           217
1      Barnard   42a           677
2       Brooks   42a           187
3      Perrine   42a           103
4      Perrine   42a           186
..         ...   ...           ...
123  PanSTARRS   31b           915
124     Amaral   21a          1604
125      ATLAS   21a          1601
126  PanSTARRS   21a          1820
127        ZTF  11a+          4546

                                         date interval       epoch  \
0    1885 12 01                  –\n               ...  1886 04 04
1    1885 12 04                  –\n               ...  1886 05 14
2    1892 09 01                  –\n               ...  1893 01 17
3    1895 11 18                  –\n               ...  1896 01 02
4    1896 11 03                  –\n               ...  1897 02 05
..                                                 ...         ...
123  2020 07 01                  –\n               ...  2021 03 07
124  2020 07 23                  –\n               ...  2021 08 14
125  2019 12 03                  –\n               ...  2022 09 18
126  2020 09 16                  –\n               ...  2023 02 25
127  2020 04 18                  –\n               ...  2023 05 16

              T[TT]   q[au]         e  omega [deg]  ohm [deg]   i[deg]  \
0    1886 04 06.454  0.6424  1.000273      126.588     37.963   82.629
1    1886 05 03.784  0.4792  1.000095      119.619     69.909   84.439
2    1892 12 28.587  0.9760  1.000304      252.651    266.034   24.801
3    1895 12 18.829  0.1920  1.000044      272.666    321.954  141.626
4    1897 02 08.604  1.0628  1.001022      172.341     87.934  146.137
..              ...     ...       ...          ...        ...      ...
123  2021 03 12.224  1.3207  1.000657      186.769    279.981   29.704
124  2021 08 28.481  4.8622  1.002463       10.292    256.756   71.748
125  2022 09 16.182  2.9561  1.000247      347.822    268.281  114.892
126  2023 02 09.203  3.3698  1.001196       20.983    117.722   20.570
127  2023 05 08.558  2.2279  1.001100      162.426    212.371  131.612

        1/a  nongrav bool  A1 [10-8au/day2]  A2 [10-8au/day2]  \
0   -425.22          True           2.33660          -0.28794
1   -198.60          True           1.72800          -0.71861
2   -311.72          True           2.77870           0.19945
3   -229.73          True           0.48100           0.32188
4   -961.12          True          -2.03900           1.56780
..      ...           ...               ...               ...
123 -497.73          True          -0.74214           2.13540
124 -506.55          True           2.89250           1.44350
125  -83.39          True         899.81000         310.51000
126 -355.05          True           9.85490           0.97468
127 -493.90          True           1.72870          -0.28543

     A3 [10-8au/day2]
0            0.000000
1           -0.356420
2            0.000000
3            0.000000
4            0.000000
..                ...
123         -1.043900
124          1.415600
125        132.780000
126          1.956600
127         -0.063377

[128 rows x 20 columns]

In [ ]:
## plot histograms

nbins = 20

plt.hist(df_sbdb['A1'])
plt.hist(df_code['A1 [10-8au/day2]']/(10**(-8)))

plt.show()